@media (max-width: 1500px) and (min-width: 1400px) {
    #about .container,
    #services .container {
        max-width: 1220px;
    }
    .banner-content-width {
        width: 60%;
    }
}

@media (max-width: 1300px) and (min-width: 1200px) {
    #about .container,
    #services .container {
        max-width: 1010px;
    }
    .banner-content-width {
        width: 70%;
    }
    #services .card-img-top {
        height: 250px;
    }
    footer .container {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .banner-content-width {
        width: 70%;
    }
    .banner-header {
        font-size: 50px;
    }
    .section-tagline {
        display: none;
    }
    .section-padding {
        padding: 30px 0;
    }
    #services .card-img-top {
        height: 250px;
    }
    .schedule-bg {
        padding: 100px 0;
    }
}

@media (max-width: 992px) {
    .header-logo {
        height: 70px;
    }
    .navbar.scrolled .header-logo {
        height: 50px;
    }
    .banner-header {
        font-size: 40px;
    }
    .service-wrapper,
    .contact-form {
        margin-bottom: 20px;
    }
    #services .card-img-top {
        height: 350px;
    }
    .google-map iframe {
        height: 400px !important;
    }
}

@media (max-width: 768px) {
    .banner-content-width {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .banner-header {
        font-size: 30px;
    }
    .banner-content-width {
        line-height: normal;
        letter-spacing: 1px;
    }
    .banner .content {
        font-size: 20px;
    }
    .header-logo {
        height: 60px;
    }
    .font-18 {
        font-size: 16px;
    }
}
